#admin .container-table100 {

    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.1)),url(img/f1.jpg);
    background-position: center;
    background-size: cover;
    color: #fff;
    text-align: center;
    background-attachment: fixed;
    padding: 100px;
    font-family: sans-serif;
    font-size: 20px;
}